{{ $email := promptString "email" -}}
{{ $githubusername := promptString "githubusername" -}}

data:
    email: {{ $email | quote }}
    githubusername: {{ $githubusername | quote }}

diff:
  exclude : ["scripts"]
  command : "nvim"
  args : ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Target }}`}}"]
  #  pager : "diff-so-fancy"

merge:
    command : "nvim"
    args : ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}`}}", "{{`{{ .Target }}`}}"]
